pip~=25.0
attrs~=23.2.0
argparse~=1.4.0
wheel~=0.45.1
pillow~=10.4.0
docutils~=0.21.2
asyncio~=3.4.3
tornado~=6.4.2
Jinja2~=3.1.4
filelock~=3.16.1
uuid~=1.30
aiogram~=3.17.0
numpy~=2.1.3
PySide6~=6.8.1.1
socks~=0
idna~=3.7
multidict~=6.0.5
propcache~=0.2.0
typing_extensions~=4.12.1
setuptools~=75.8.0
MarkupSafe~=3.0.2
pydantic~=2.7.3
aiofiles~=23.2.1
magic-filter~=1.0.12
python-telegram-bot~=21.9
certifi~=2024.6.2
aiohttp~=3.9.5
yarl~=1.9.4
aiosignal~=1.3.1
frozenlist~=1.4.1
python-multipart~=0.0.20
aiohappyeyeballs~=2.4.3
colorama~=0.4.6
Pygments~=2.19.1
pydantic_core~=2.18.4
annotated-types~=0.7.0
python-dotenv~=1.0.1
